<!DOCTYPE html>

<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <title>System Wydawania Zaświadczeń - Ekran Logowania</title>
</head>

<body>

<div style="position: absolute; top: 40%; left: 42%; width: 16%;">
<div id="login" style="width: 100%; height: 100%; text-align: center;">
  <form action="{{ url_for('login') }}" method="POST">
    <p><input type="text" name="login" id="inputPESEL" style="width: 100%;" placeholder="PESEL"/></p>
    <p><input type="password" name="password" id="inputPass" style="width: 100%;" placeholder="password"/></p>
    <p><input type="submit" value="Zaloguj"></input></p>
    {% for message in get_flashed_messages() %}
      <p style="color: RED;">{{ message }}</p>
    {% endfor %}
  </form>
</div>
</div>

</body>
</html>

